<div class="form-group">
    <label for="itemid">Item ID</label> <input type="text" name="itemid" id="itemid" class="form-control">
    <label for="userid">User ID</label> <input type="text" name="userid" id="userid" class="form-control">
    <label for="category">Category</label> <input type="text" name="category" id="category" class="form-control">
    <label for="descrip">Description</label> <input type="text" name="description" id="descrip" class="form-control">
    <label for="minP">Minimum Price</label> <input type="text" name="minprice" id="minP" class="form-control">
    <label for="maxP">Maximum Price</label> <input type="text" name="minprice" id="maxP" class="form-control">
    <label for="status">Status</label>
    <select size="1" name="status" id="status" class="form-control">
        <option selected>all</option>
        <option>open</option>
        <option>closed</option>
        <option>not started</option>
    </select>
</div>
<br><br>
<div class="form-group">
<input type="submit" value="Search" class="btn btn-primary">
</div>
