<div class="form-group">
    <label for="itemid">Item ID</label> <input type="text" name="itemid" id="itemid" class="form-control">
    <label for="userid">Seller ID</label> <input type="text" name="userid" id="userid" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="category">Category</label> <input type="text" name="category" id="category" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="description">Description</label> <input type="text" name="description" id="description" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="minprice">Minimum Price</label> <input type="text" name="minprice" id="minprice" class="form-control">
    <label for="maxprice">Maximum Price</label> <input type="text" name="maxprice" id="maxprice" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="status">Status</label>
    <select size="1" name="status" id="status" class="form-control">
        <option selected>all</option>
        <option>open</option>
        <option>closed</option>
        <option>not started</option>
    </select>
</div>
<br><br>
<div class="form-group">
<input type="submit" value="Search" class="btn btn-primary">
</div>
