<div class="form-group">
    <label for="itemID">Item ID</label> <input type="text" name="itemID" id="itemID" class="form-control">
    <label for="userID">Seller ID</label> <input type="text" name="userID" id="userID" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="name">Item Name</label> <input type="text" name="name" id="name" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="category">Category</label> <input type="text" name="category" id="category" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="description">Description</label> <input type="text" name="description" id="description" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="minPrice">Minimum Price</label> <input type="text" name="minPrice" id="minPrice" class="form-control">
    <label for="maxPrice">Maximum Price</label> <input type="text" name="maxPrice" id="maxPrice" class="form-control">
</div>
<br><br>
<div class="form-group">
    <label for="status">Status</label>
    <select size="1" name="status" id="status" class="form-control">
        <option selected>all</option>
        <option>open</option>
        <option>closed</option>
        <option>notStarted</option>
    </select>
</div>
<br><br>
<div class="form-group">
<input type="submit" value="Search" class="btn btn-primary">
</div>
