{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
  <h3>Welcome to AuctionBase!</h3>
  <div class="alert alert-info">What do you want to do?</div>
<ul>
  <li><a href="/currtime">View the current time</a></li>
  <li><a href="/selecttime">Change the current time</a></li>
  <li><a href="/browse">Browse auctions</a></li>
  <li><a href="/view">View a specific auction</a></li>
</ul>
{# also make sure to include this very last line as well #}
{% endblock %}
