<link rel=stylesheet type=text/css href="/static/style.css">
{% extends "app_base.html" %}
{% block content %}
<h3>View Auction</h3>
{% if not result %}
<div class="alert alert-info">Please select an item</div>
<form method="POST" action="view" class="form-inline">
    {% include 'viewauctionform.html' %}
</form>
{% else %}
<dl>
<dd><a href="/view">Search Again</a></dd>
<dd><a href="/">Home</a></dd>
</dl>
<h4>Item Overview</h4>
<table id="results">
    <TR>
        <TH>Item ID</TH>
        <TH>Seller ID</TH>
        <TH>Item Name</TH>
        <TH>Current Price</TH>
        <TH>Number of bids</TH>
        <TH>Status</TH>
        <TH>Auction Start</TH>
        <TH>Auction End</TH>
    </TR>
{% for item in result %}
<TR>
    <TD>{{item.item_id}}</TD>
    <TD>{{item.seller_id}}</TD>
    <TD>{{item.name}}</TD>
    <TD>{{"${:,.2f}".format(item.currently)}}</TD>
    <TD>{{item.number_of_bids}}</TD>
    <TD>{{status}}</TD>
    <TD>{{item.started}}</TD>
    <TD>{{item.ends}}</TD>
</TR>
{% endfor %}
</table>
{% if result[0].number_of_bids > 0 %}
<h4>Bids on Item</h4>
<table id="results">
    <TR>
        <TH>Bidder ID</TH>
        <TH>Bid Amount</TH>
        <TH>Time of Bid</TH>
    </TR>
{% for item in bids %}
<TR>
    <TD>{{item.bidder_id}}</TD>
    <TD>{{"${:,.2f}".format(item.amount)}}</TD>
    <TD>{{item.time}}</TD>
</TR>
{% endfor %}
</table>
{% else %}
{% if status == 'open' %}
<h4>No bids have been placed on this auction</h4>
{% elif status == 'closed' %}
<h4>No bids were placed on this auction</h4>
{% else %}
<h4>No bids can be entered because auction as not started</h4>
{% endif %}
{% endif %}
<h4>Item Categories</h4>
<UL>
    {% for item in categories %}
    <LI>{{item.category_name}}</LI>
    {% endfor %}
</UL>
<h4>Item Description</h4>
<p>{{result[0].description}}</p>
{% endif %}
<dl>
<dd><a href="/view">Search Again</a></dd>
<dd><a href="/">Home</a></dd>
</dl>
{% endblock %}